body {
text-align:center;
color:#333;
background:#fff;
}
.app {
  background: inherit; 
  color: inherit;  
}
.app__title {
  font-family: inherit;
  font-size: 2em;
  font-weight: bold;
  margin: 20px 0;
}
