/*
Helper to ease the use of inline-blocks -
The faster, more usable and more sane use of aligning elements horizontally.
*/

@mixin inline-block($width: auto, $height: auto, $h_align: auto, $v_align: auto, $line_height: auto) {
  display: inline-block;

  @if $v_align and $v_align != auto {
    vertical-align: $v_align;
  }
  @if $h_align and $h_align != auto {
    text-align: $h_align;
  }
  @if $height and $height != auto {
    height: $height;
  }
  @if $width and $width != auto {
    width: $width;
  }
  @if $line_height and $line_height != auto {
    line-height: $line_height;
  }
}