<header>
	<h1 class="logo">Send me a text!</h1>

	<form method="post" action="/messages">
		<input type="text" name="text-box" placeholder="message">
		<input type="text" name="phone-number" placeholder="phone number">
		<input type="submit" value="Send Text">
	</form>

</header>