<html>
<head>
<meta charset="utf-8">
<title></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="/../css/style.css">

<!-- wix sdk -->
<script src="//sslstatic.wix.com/services/js-sdk/1.16.0/js/Wix.js"></script>

<!-- dependency scripts -->
<script src="/../app/lib/jquery/jquery.js"></script>
<script src="/../app/lib/jquery-ui/js/jquery-ui.js"></script>
<script src="/../app/lib/chosen/chosen.jquery.js"></script>
<script src="/../app/lib/bootstrap/js/bootstrap.js"></script>
<script src="/../app/lib/color-picker/color-pickers/simple.js"></script>
<script src="/../app/lib/color-picker/color-pickers/advanced.js"></script>
<script src="/../app/lib/color-picker/color-picker.js"></script>
<script src="/../app/lib/angular/angular.js"></script>
<script src="/../app/lib/text-extension/text.js"></script>
<script src="/../app/lib/ui-extension/ui.js"></script>
<script src="/../app/lib/routing-extension/routing.js"></script>
<script src="/../app/lib/wix/wix.js"></script>
</head>

<body>
<header></header>

<%= yield %>

<footer></footer>
</body>
</html>