<p>Your message was sent!</p>

	<form method="post" action="/messageslocal">
		<input type="text" name="text-box" placeholder="message">
		<input type="text" name="phone-number" placeholder="phone number">
		<input type="submit" value="Send Text">
	</form>