<div wix-ui ng-app="vineApp" class="settings">
<div class="container" ng-view=""></div>
</div>
<script>
    angular.module('vineApp').constant('config', {
        view: 'settings'
    });
</script>    
<script src="/bower_components/wix-ui-lib2/ui-lib.min.js"></script>    
<link type="text/css" href="/bower_components/wix-ui-lib2/ui-lib.min.css" rel="stylesheet">

