	<h1 class="logo">Send me a text!</h1>

	<form method="post" action="/messages">
		<input type="text" name="text-box" placeholder="message">
		<input type="text" name="phone-number" placeholder="phone number">
		<input type="submit" value="Send Text">
	</form>


<div class="mtxl ptxl" ng-app="vineApp">
	<div class="container" ng-view=""></div>
</div>
<style wix-style>
    body {
        background-color: {{style.bgColor}};
    }
    .jumbotron {
        background-color: {{style.searchBoxColor}};
    }
    .btn-primary {
        background-color: {{style.buttonColor}};
    }
    .meta p.description {
      color: {{style.descriptionColor}};
      {{style.descriptionFont Body-S}};
    }
    .meta .username {
       color: {{style.usernameColor}};
       {{style.usernameFont Body-S}};
    }
</style>
<script>
    angular.module('vineApp').constant('config', {
      standAlone: <%- debug %>
    });
</script>