	<h1 class="logo">Send me a text!</h1>

	<form method="post" action="/messages">
		<input type="text" name="text-box" placeholder="message">
		<input type="text" name="phone-number" placeholder="phone number">
		<input type="submit" value="Send Text">
	</form>


<div class="mtxl ptxl" ng-app="vineApp">
	<div class="container" ng-view=""></div>
</div>
<style wix-style>
    body {
        background-color: {{style.bgColor}};
    }
    .jumbotron {
        background-color: {{style.searchBoxColor}};
    }
    .btn-primary {
        background-color: {{style.buttonColor}};
    }
    .meta p.description {
      color: {{style.descriptionColor}};
      {{style.descriptionFont Body-S}};
    }
    .meta .username {
       color: {{style.usernameColor}};
       {{style.usernameFont Body-S}};
    }
</style>





<div class="app mtxl">
    <h3 class="app__title"><img src="/../images/logo-bubble.png" class="prm">Send me a text!</h3>
    <div class="bubble">
        <p class="bubble__description">Ask me anything and I will send an answer to your phone in the 
        next 24 hours. </p>
        <form class="form">
            <textarea class="form__input"  ng-model="message" placeholder="Enter your message"></textarea>
            <label for="sender" class="form__label mbm tss ttu tls twb">Enter your phone number:</label>
            <input class="form__input" id="sender" name="sender" ng-model="sender" placeholder="Your Phone Number">
            <a class=" btn btn--full">Send Text</a>
        </form>
    </div>


    <div class="mvxl">
      <label class="form__label mbm tss ttu tls twb">From:</label>
      <p ng-bind="sender"></p>
      <label class="form__label mbm tss ttu tls twb">Message:</label>
      <p ng-bind="message"></p>
  </div>
</div>
